<nb-layout>
  <nb-layout-header class="header-title">
    <nb-actions>
      <nb-action icon="menu-outline"></nb-action>
      <nb-action>A Point</nb-action>
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="person-outline"></nb-action>
    </nb-actions>
  </nb-layout-header>
  <!-- <nb-sidebar>Sidebar Content</nb-sidebar> -->
  <nb-layout-column>
    <h3  *ngIf="id != '' " class="header-col-title">Update Event Category</h3>
    <h3 *ngIf="id === '' "  class="header-col-title">Resigter Event Category</h3>

    <nb-card accent="primary" [formGroup]="eventForm">
      <nb-card-header class="card-header" *ngIf="!iscard" (click)="openCard()"
        >Event Category
        <nb-action class="act-openCard">
          <nb-icon
            *ngIf="!iscard"
            (click)="openCard()"
            icon="arrow-ios-downward-outline"
          ></nb-icon>
          <nb-icon
            *ngIf="iscard"
            (click)="openCard()"
            icon="arrow-ios-upward-outline"
          ></nb-icon>
        </nb-action>
      </nb-card-header>
      <nb-card-header class="card-header" *ngIf="iscard" (click)="openCard()"
        >Event Category
        <nb-action class="act-openCard">
          <nb-icon
            *ngIf="!iscard"
            (click)="openCard()"
            icon="arrow-ios-downward-outline"
          ></nb-icon>
          <nb-icon
            *ngIf="iscard"
            (click)="openCard()"
            icon="arrow-ios-upward-outline"
          ></nb-icon>
        </nb-action>
      </nb-card-header>
      <nb-card-body *ngIf="!iscard">
        <p>Name <span style="color: #ff0000">*</span></p>
        <input
          formControlName="name"
          type="text"
          nbInput
          fullWidth
          status="basic"
          placeholder="Name"
        />

        <p>Description</p>
        <textarea
          formControlName="description"
          nbInput
          fullWidth
          placeholder="Description"
        ></textarea>
        <p>Active</p>
        <nb-select formControlName="active_flag" fullWidth placeholder="Active">
          <nb-option [value]="true">Active</nb-option>
          <nb-option [value]="false">No Active</nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>

    <div class="btn-act">
      <button
        (click)="clearEventCategoryForm()"
        class="btn-clear"
        size="medium"
        nbButton
        status="danger"
      >
        Clear
      </button>
      <button

        *ngIf="id === ''"
        (click)="createEventCategory()"
        (click)="showToast(physicalPositions.BOTTOM_RIGHT, 'warning')"
        class="btn-save"
        size="medium"
        nbButton
        status="success"
      >
        Save
      </button>
      <button
        *ngIf="id != '' "
        (click)="updateEventCategory()"
        class="btn-save"
        size="medium"
        nbButton
        status="success"
      >
        Update
      </button>
    </div>
  </nb-layout-column>
</nb-layout>
