<nb-layout>
  <nb-layout-header>
    <nb-actions>
      <nb-action icon="menu-outline"></nb-action>
      <nb-action>A Point</nb-action>
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="person-outline"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <h3 class="header-col-title">
      Search Event Category
      <button
        (click)="resigterEventCategory()"
        class="btn-new"
        size="medium"
        nbButton
        status="success"
      >
        New
      </button>
    </h3>

    <nb-card accent="primary" [formGroup]="eventForm">
      <nb-card-header class="card-header" *ngIf="!iscard" (click)="openCard()"
        >Filter Event Category
        <nb-action class="act-openCard">
          <nb-icon
            *ngIf="!iscard"
            (click)="openCard()"
            icon="arrow-ios-downward-outline"
          ></nb-icon>
          <nb-icon
            *ngIf="iscard"
            (click)="openCard()"
            icon="arrow-ios-upward-outline"
          ></nb-icon>
        </nb-action>
      </nb-card-header>
      <nb-card-header class="card-header" *ngIf="iscard" (click)="openCard()"
        >Event Category
        <nb-action class="act-openCard">
          <nb-icon
            *ngIf="!iscard"
            (click)="openCard()"
            icon="arrow-ios-downward-outline"
          ></nb-icon>
          <nb-icon
            *ngIf="iscard"
            (click)="openCard()"
            icon="arrow-ios-upward-outline"
          ></nb-icon>
        </nb-action>
      </nb-card-header>

      <nb-card-body *ngIf="!iscard" >
        <div class="card-search">
          <p>Name <span style="color: #ff0000">*</span></p>
        <input
          formControlName="name"
          type="text"
          nbInput
          fullWidth
          status="basic"
          placeholder="Name"
        />
        <!-- <p>Description</p>
        <textarea
          formControlName="description"
          nbInput
          fullWidth
          placeholder="Description"
        ></textarea> -->
        <p>Active</p>
        <nb-select formControlName="active_flag" fullWidth placeholder="Active">
          <nb-option [value]="true">Active</nb-option>
          <nb-option [value]="false">No Active</nb-option>
        </nb-select>
        </div>

        <div class="btn-act">
          <button
            (click)="clearEventCategoryForm()"
            class="btn-clear"
            size="medium"
            nbButton
            status="danger"
          >
            Clear
          </button>
          <button
            class="btn-search"
            size="medium"
            nbButton
            status="success"
            (click)="searchEventCategory()"
          >
            Search
          </button>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header> EVENT CATEGORY </nb-card-header>
      <nb-card-body>
        <table id="customers" style="border-collapse: collapse">
          <tr>
            <th style="width: 110px">ACTION</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>ACTIVE</th>
          </tr>

          <tr>
            <th></th>

            <th>
              <form
                class="search-by"
                (keyup)="searchEventCategoryByName()"
                [formGroup]="eventForm"
              >
                <input
                  type="text"
                  formControlName="name"
                  class="search-input"
                  nbInput
                  fullWidth
                  fieldSize="small"
                  placeholder="Search By Name"
                />
              </form>
            </th>

            <th>
              <form class="search-by" [formGroup]="eventForm">
                <input
                  formControlName="description"
                  type="text"
                  class="search-input"
                  fullWidth
                  nbInput
                  fieldSize="small"
                  placeholder="Search Description"
                />
              </form>
            </th>

            <th>
              <form class="search-by" (mouseenter)="searchEventCategory()" [formGroup]="eventForm">
                <nb-select
                  formControlName="active_flag"
                  fullWidth
                  placeholder="Active"
                >
                  <nb-option [value]="true">Active</nb-option>
                  <nb-option [value]="false">No Active</nb-option>
                </nb-select>
              </form>
            </th>
          </tr>

          <tr *ngFor="let event of event_category">
            <td>
              <div class="act-btn">
                <nb-action
                  (click)="editEventCategory(event._id)"
                  class="act-icon"
                >
                  <nb-icon
                    class="act-icon"
                    style="cursor: pointer"
                    icon="edit-2-outline"
                    size="tiny"
                    status="success"
                  >
                  </nb-icon>
                </nb-action>
                <nb-action
                  (click)="removeEventCategory(event._id)"
                  class="act-icon"
                >
                  <nb-icon
                    class="act-icon-trash"
                    style="cursor: pointer"
                    icon="trash-2-outline"
                    size="tiny"
                    status="danger"
                  >
                  </nb-icon>
                </nb-action>
              </div>
            </td>
            <td>{{ event.name }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.active_flag ? "Active" : "No Active" }}</td>
          </tr>
        </table>
        <br />
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
